*{
    margin: 0px;
    box-sizing: border-box;
}

.lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97px;
    background-color: rgb(44, 43, 43);
    color: white;
}

.logo{
    font-weight: bold;
    font-size: 28px;
    color: #EE0000;
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

.logo:hover{
    cursor: default;
}

.logo span{
    color: #EEEEEE;
}

.logout-btn{
    color: #EE0000;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    width: calc(100% - 8px);
    margin: 5px 4px;
}

.contenido{
    position: relative;
    width: calc(100% - 98px);
    height: 100%;
    margin-left: 98px; 
    margin-right: 30%;
    overflow: auto;
    background-color: rgb(44, 43, 43);
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.logout-btn:hover{
    background-color: #BB0000;
    color: #EEEEEE;
}

.lateral mat-icon{
    color:white;
}

.btn{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0%;
    width: 100%;
}

.games{
    padding: 20px;
}

.game-name{
    color: gold;
}

.imagen{
    width: 100px;
    height: auto;
}