<body>
    <div class="create-game">
        <form [formGroup]="gameForm" (ngSubmit)="createGame()">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" formControlName="description">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Desarrollador</mat-label>
                <input matInput type="text" formControlName="developer">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de lanzamiento</mat-label>
                <input matInput type="text" formControlName="releaseDate">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Imagen url</mat-label>
                <input matInput type="text" formControlName="imageUrl">
            </mat-form-field>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>