<div mat-dialog-container class="contenedor">
    <div mat-dialog-tittle>
        <h1>Nuevo comentario</h1>
    </div>

    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Texto</mat-label>
            <textarea matInput class="text"></textarea>
        </mat-form-field>
        <br/>
        <select>
            <option *ngFor="let game of games" [value]="game.name">{{ game.name }}</option>
        </select>
        <br/>
        <button mat-button>Añadir imagen</button>
    </div>

    <div mat-dialog-actions>
        <button mat-button>Publicar</button>
    </div>
</div>