<div mat-dialog-container class="contenedor">
    <div mat-dialog-title>
        <h1>Nuevo comentario</h1>
    </div>

    <div mat-dialog-content>
        <form [formGroup]="postForm" (ngSubmit)="createPost()">
            <mat-form-field>
                <mat-label>Texto</mat-label>
                <textarea matInput class="text" formControlName="text"></textarea>
            </mat-form-field>

            <br/>

            <select formControlName="gameId">
                <option *ngFor="let game of games" [value]="game.gameId">{{ game.name }}</option>
            </select>
            
            <!-- <button mat-button>Añadir imagen</button> -->
            
            <br/>

            <button type="submit" mat-button>Publicar</button>
        </form>
    </div>
</div>