*{
    margin: 0px;
    box-sizing: border-box;
}

.lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97px;
    background-color: rgb(44, 43, 43);
    color: white;
}

.logo{
    font-weight: bold;
    font-size: 28px;
    color: #EE0000;
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

.logo:hover{
    cursor: default;
}

.logo span{
    color: #EEEEEE;
}

.logout-btn{
    color: #EE0000;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    width: calc(100% - 8px);
    margin: 5px 4px;
}

.logout-btn:hover{
    background-color: #BB0000;
    color: #EEEEEE;
}

.lateral mat-icon{
    color:white;
}

.btn{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0%;
    width: 100%;
}

.recomendaciones{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - (98px + 60%));
    height: 100%;
    padding: 40px;
    color: white;
    border-left: 1px solid lightgray;
    background-color: rgb(44, 43, 43);
}

.contenido{
    position: relative;
    width: 60%;
    height: 100%;
    margin-left: 98px; 
    margin-right: 30%;
    overflow: auto;
    background-color: rgb(44, 43, 43);
}

.login{
    color: white;
    background-color: lightgreen;
}

.register{
    color: white;
    background-color: lightgreen;
}

.post{
    color: white;
    margin: 20px;
}

.post-game{
    margin: 5px 0 0 10px;
}

.post-text{
    margin: 5px 0 0 10px;
}

.post-user span{
    color:lightgray;
}

.new-comment-btn{
    position: fixed;
    background-color: lightgreen;
    bottom: 40px;
    right: 40px;
    color: white;
}