<div class="lateral">
    <!-- <img src="#"> -->
    <button *ngIf="!isLoggedIn" (click)="login()">Iniciar sesión</button>
    <div *ngIf="isLoggedIn">
        Bienvenido, {{ username }}!
    </div>
    <button *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</button>

    <button mat-fab class="btn" (click)="profile()">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-fab class="btn">
        <mat-icon>groups</mat-icon>
    </button>
    <button mat-fab class="btn">
        <mat-icon>games</mat-icon>
    </button>
</div>

<div class="contenido">

</div>

<div class="recomendaciones">
    <h1>Juegos populares</h1>
</div>

<button mat-fab class="add" (click)="nuevoComentario()">
    <mat-icon>add</mat-icon>
</button>