body{
    background-image: url("../../../assets/fondo_login.jpg");
}

mat-card{
    width: 50%;
    padding: 30px;
    top:15%;
    left: 25%;
    text-align: center;
    opacity: 0.8;
}

mat-form-field, .login{
    width: 100%;
}

.login{
    font-size: 20px;
    margin-bottom: 10px;
}

h1, .desc{
    margin-bottom: 30px;
}

.cancelar{
    height: 20px;
    width: 40%;
}

.registrarse{
    height: 20px;
    width: 40%;
}