body{
    background-image: url("../../../assets/fondo_login.jpg");
}

mat-card{
    width: 44%;
    padding: 30px;
    top: 20%;
    left: 28%;
    text-align: center;
    opacity: 0.9;
}

mat-form-field, .buttons{
    width: 100%;
}

.login{
    font-size: 20px;
    color: rgba(0, 0, 139, 0.6);
    width: calc(50% - 5px);
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 139, 0.2);
    border-radius: 12px;
}

.registrarse{
    font-size: 20px;
    color: rgba(0, 0, 139, 0.6);
    width: calc(50% - 5px);
    border: 1px solid rgba(0, 0, 139, 0.2);
    border-radius: 12px;
}

.close-btn{
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 8px;
    width: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.close-btn:hover{
    background-color: #CC0000;
}

h1 {
    margin-bottom: 30px;
}

.desc{
    margin-bottom: 20px;
}