<body>
    <mat-card>
        <button class="close-btn" (click)="cancelLogin()">X</button>
        <h1>Inicio de sesión</h1>

        <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="username">
            </mat-form-field>

            <mat-form-field class="desc">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <div class="buttons">
                <button type="submit" mat-button class="login-btn">Iniciar sesión</button>
                <button mat-button class="register-btn" (click)="register()">¿No tienes cuenta? Regístrate</button>
            </div>
        </form>
    </mat-card>
</body>