*{
    margin: 0px;
    box-sizing: border-box;
}

.lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97px;
    background-color: rgb(44, 43, 43);
    color: white;
}

.logout-btn{
    color: #EE0000;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    width: calc(100% - 8px);
    margin: 5px 4px;
}

.logout-btn:hover{
    background-color: #BB0000;
    color: #EEEEEE;
}

.lateral mat-icon{
    color:white;
}

.btn{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0%;
    width: 100%;
}