<body>
    <div class="lateral">
    <p class="logo"><span>Only</span>Gaming</p>

    <button class="btn" (click)="home()">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>

    <button *ngIf="!isLoggedIn" class="btn" (click)="login()">
      <mat-icon>person</mat-icon>
      <span>Iniciar sesión</span>
    </button>

    <button *ngIf="isLoggedIn" class="btn" (click)="profile()">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>

    <button class="btn" (click)="communities()">
      <mat-icon>groups</mat-icon>
      <span>Comunidades</span>
    </button>

    <button class="btn" (click)="games()">
      <mat-icon>games</mat-icon>
      <span>Juegos</span>
    </button>

    <button *ngIf="isAdmin" class="admin-btn" (click)="admin()">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Panel admin</span>
    </button>

    <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </div>
</body>
