<body>
    <div class="lateral">
        <p class="logo">O<span>G</span></p>

        <button mat-fab class="btn" (click)="home()">
            <mat-icon>home</mat-icon>
        </button>
        
        <button *ngIf="!isLoggedIn" mat-fab class="btn" (click)="login()">
            <mat-icon>person</mat-icon>
        </button>

        <button *ngIf="isLoggedIn" mat-fab class="btn" (click)="profile()">
            <mat-icon>person</mat-icon>
        </button>

        <button mat-fab class="btn" (click)="communities()">
            <mat-icon>groups</mat-icon>
        </button>
        
        <button mat-fab class="btn" class="btn" (click)="games()">
            <mat-icon>games</mat-icon>
        </button>

        <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">Cerrar sesión</button>
    </div>
</body>
