<body>
    <div class="lateral">
        <img src="#">
        <button mat-fab class="btn" (click)="Inicio()">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-fab class="btn">
            <mat-icon>groups</mat-icon>
        </button>
        <button mat-fab class="btn">
            <mat-icon>games</mat-icon>
        </button>
    </div>

    <div class="contenido">
        <div class="perfil">
            <div class="informacion">
                <img src="#">
                <h2>Nombre de prefil</h2>
                <p>Descripcion leve del perfil</p>
            </div>
        </div>
    </div>
</body>