<body>  
    <div class="lateral">
        <p class="logo"><span>Only</span>Gaming</p>

        <button class="btn" (click)="home()">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>

        <button *ngIf="!isLoggedIn" class="btn" (click)="login()">
            <mat-icon>person</mat-icon>
            <span>Iniciar sesión</span>
        </button>

        <button *ngIf="isLoggedIn" class="btn" (click)="profile()">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>

        <!-- <button class="btn" (click)="communities()">
            <mat-icon>groups</mat-icon>
            <span>Comunidades</span>
        </button> -->

        <button class="btn" (click)="games()">
            <mat-icon>games</mat-icon>
            <span>Juegos</span>
        </button>

        <button *ngIf="isAdmin" class="admin-btn" (click)="admin()">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Panel admin</span>
        </button>

        <button *ngIf="isAdmin" class="admin-btn" (click)="reportedposts()">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Posts reportados</span>
        </button>

        <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </div>    

    <div class="contenido">
        <div class="perfil">
            <div class="informacion">
            <h2>{{ user.name }}</h2>
            <p class="username">{{ '@' + user.username }}</p>
            </div>

            <div class="user-games">
            <h3>Mis Juegos</h3>
            <div *ngIf="userGames.length === 0">No has añadido ningún juego todavía.</div>
            <div class="games-list" *ngIf="userGames.length > 0">
                <div *ngFor="let game of userGames" class="game">
                <img class="images" [src]="game.imageUrl" />
                <a [routerLink]="['/game', game.name]" class="game-name">{{ game.name }}</a>
                <p class="game-developer">{{ game.developer }}</p>
                <p class="game-date">{{ game.releaseDate | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>