<body>  
    <div class="lateral">
        <p class="logo"><span>Only</span>Gaming</p>

        <button class="btn" (click)="home()">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>

        <button *ngIf="!isLoggedIn" class="btn" (click)="login()">
            <mat-icon>person</mat-icon>
            <span>Iniciar sesión</span>
        </button>

        <button *ngIf="isLoggedIn" class="btn" (click)="profile()">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>

        <button class="btn" (click)="communities()">
            <mat-icon>groups</mat-icon>
            <span>Comunidades</span>
        </button>

        <button class="btn" (click)="games()">
            <mat-icon>games</mat-icon>
            <span>Juegos</span>
        </button>

        <button *ngIf="isAdmin" class="admin-btn" (click)="admin()">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Panel admin</span>
        </button>

        <button *ngIf="isLoggedIn" class="logout-btn" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </div>    

    <div class="contenido">
        <div class="perfil">
            <div class="informacion">
                <h2>{{ user.name }}</h2>
                <p class="username">{{'@' + user.username }}</p>
            </div>
        </div>
        <div *ngFor="let post of postsUser" class="post">
            <p class="post-user">
                {{ post.userName }}<span>{{ '@' + post.userUsername }} · {{ post.date | date:'dd/MM/yyyy HH:mm' }}</span>
            </p>
            <p class="post-game">{{ post.game }}</p>
            <p class="post-text">{{ post.text }}</p>

            <div class="post-actions">
                <button mat-icon-button (click)="toggleLike(post)">
                <mat-icon [ngClass]="{'liked': post.likes.includes(username!)}">favorite</mat-icon>
                </button>
                <span>{{ post.likes.length || 0 }}</span>
            </div>
        </div>
    </div>
</body>