<body>
    <mat-card>
        <h1>Registrarse</h1>

        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <mat-form-field class="desc">
            <mat-label>Email</mat-label>
            <input matInput type="text">
        </mat-form-field>

        <button mat-button class="login" (click)="Registrar()">Registrar</button>
        <button mat-button class="cancelar">Cancelar</button>
    </mat-card>
</body>